@model WheateForecast.Models.CadastroFuncionarioModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Demitir</h1>

<h3>Você tem certeza que deseja desligar esse colaborador do sistema da empresa</h3>
<div>
    <h4>CadastroFuncionarioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Setor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAdmicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdmicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNacimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNacimento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volta a Lista</a>
    </form>
</div>
